.dash {
	width: 100%;
	height: 0.4rem;
	background: url('../img/dash.png') repeat-x center center;
}

.dash-top,
.dash-bottom {
	border-top: 0.1rem dashed rgba($black, 0.3);
	border-bottom: 0.1rem dashed rgba($white, 0.3);
	left: 0;
	position: absolute;
	width: 100%;
	margin: 0;
}

.dash-top {
	top: 0;	
	margin-top: 1rem;
}

.dash-bottom {
	bottom: 0;
	margin-bottom: 1rem;
}

.section-title,
.xxx-hr,
.section-title-short-desc {
	text-align: center;
}

.section-title {
	font-family: $font-family-extra-2;
	font-size: 9rem;
	text-transform: uppercase;
	text-shadow: 0.2rem 0.2rem 0 $color-text-light,
							 0.4rem 0.4rem 0 $color-text;

	@media (max-width: 480px) {
		font-size: 5rem;
	}
}

.xxx-hr {
	font-size: 2.2rem;
	position: relative;
	width: 15rem;
	margin: 0 auto 1rem;

	&:before,
	&:after {
		content: '';
		background-color: $color-text;
		height: 0.2rem;
		width: 4rem;
		position: absolute;
		top: 50%;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

.section-title-short-desc {
	font-family: $font-family-secondary;
	font-size: 1.6rem;
	text-transform: uppercase;
	margin-bottom: 2.7rem;
}

.browse-all {
	display: block;
	margin: 0 auto;
	font-family: $font-family-secondary;
	text-transform: uppercase;
	font-size: 1.9rem;
	font-weight: bold;
	margin-top: 4rem;
	text-align: center;
	padding-top: 1rem;
	position: relative;
	@include transition(color .2s ease-in);

	&:before {
		background-color: $color-text;
		content: '';
		height: 0.2rem;
		width: 4rem;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -2rem;
		@include transition(background-color .2s ease-in);
	}
}

.retro-hidden {
	// visibility: hidden !important;
	top: -100% !important;
}